:root {
  --white: #ffffff;
  --gray: #707070;
  --lightGray: #b3b3b3;
  --blue: #736fe3;
  --teal: #55efc4;
}

* {
  margin: 0;
  padding: 0;
  font-family: lexend;
}

body {
  background-color: var(--white);
}

h3 {
  font-weight: 600;
}

a {
  color: var(--blue);
  text-decoration: none;
  margin-bottom: 5px;
  font-size: 14px;
}

.form-control {
  display: flex;
  flex-wrap: 'nowrap';
}

/* * Jobs */
.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gapped-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.bold-text {
  font-weight: 700;
}

.extra-bold-text {
  font-weight: 800;
}

.short-text {
  font-size: 14px;
}

.faded {
  color: var(--gray);
}

.job-card-item {
  max-width: 275px;
  width: 100%;
  box-shadow: 0px 2px 10px var(--lightGray);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  border-radius: 15px;
  padding: 12px;
}

.layer-box {
  width: 100%;
  height: 150px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.end-layer {
  height: 150px;
  width: 100%;
  position: absolute;
  top: 0px;
  overflow: hidden;
  z-index: 0;
}

.fade-layer {
  position: absolute;
  bottom: 0px;
  height: 150px;
  width: 100%;
  background: linear-gradient(to top, var(--white) 10%, transparent);
  z-index: 1;
}

.front-layer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 2;
}

.blur {
  filter: blur(2px);
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
}

.online-dot {
  height: 10px;
  width: 10px;
  border-radius: 100%;
  background-color: var(--teal);
  filter: blur(1px);
}
