:root {
  --white: '#FFFFFF';
  --gray: '#e6e6e6';
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background-color: var(--white);
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gapped-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.bold-text {
  font-weight: bold;
}

.short-text {
  font-size: 12px;
}

.faded {
  color: var(--gray);
}
