:root {
  --white: '#FFFFFF';
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--white);
}

.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
